# Node modules
node_modules/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Database files
*.sqlite
*.sqlite3

# System files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
*.iml

# Build files
dist/
build/

# Temporary files
*.tmp
*.temp

# OS-specific files
*.swp
*.swo

# Coverage reports
coverage/

# Debug files
*.stackdump

# Misc
*.bak
*.old
